@model GS.Models.Medico

<h2>Detalhes do Médico</h2>

<div>
    <h4>Nome: @Model.Nome</h4>
    <h4>Especialidade: @Model.Especial</h4>
    <h4>Ativo: @Model.Ativo</h4>
    <h4>Atendimentos:</h4>
    <ul>
        @foreach (var atendimento in Model.Atendimentos)
        {
            <li>@atendimento.Dor</li>
        }
    </ul>
    <!-- Adicione outros detalhes conforme necessário -->
</div>

<p>
    <a asp-action="Index">Voltar para a lista</a>
</p>
