index view medico
@model List<Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Médicos</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<a asp-action="cadastrar">Cadastrar</a>
<table class="table table-striped">
    <tr>
        <th>Medico</th>
        <th>Especializacao</th>
        <th>Ativo</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Especial</td>
            <td>@(item.Ativo ? "Ativo" : "Inativo")</td>
        </tr>
    }
</table>

