@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Reload Care</h1>
    <a asp-action="cadastrar" asp-controller="Atendimento">Cadastrar Atendimento</a>
    <a asp-action="index" asp-controller="Atendimento">Atendimento</a>
</div>
<div style="font-family: 'Arial', sans-serif; background-color: #dce4f4; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div style="background-color: white; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; width: 400px; text-align: center;">
        <h1 style="color: #333;">App de Saúde Mental e Rotina de Mal-Estar</h1>
        <p style="color: #333;">Explorando a ideia de um aplicativo que ajuda os usuários a expressarem como se sentem para permitir os usuários a registrarem como estão se sentindo diáriamente.</p>

        <h2 style="color: #333;">Recursos Sugeridos:</h2>
        <ul style="text-align: left; margin-top: 15px;">
            <li style="margin-bottom: 8px;">Registre diariamente ou periodicamente como você está se sentindo, física e emocionalmente.</li>
            <li style="margin-bottom: 8px;">Inclua Dores, Médicos que o atenderam e entre outros.</li>
        </ul>
    </div>
</div>